name: Publish Docker Images

on:
  push:
    branches:
      - main
    paths:
      - "wordlists/**"
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [alpine, debian, ubuntu]
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ./Dockerfile.${{ matrix.image }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: kkrypt0nn/wordlists:${{ matrix.image }}-latest
