name: Update generated files

on:
  push:
    branches:
      - main
    paths:
      - "wordlists/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update_generated_file:
    name: Update generated files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: "3.14.3"
      - name: Make README file
        run: python tools/make_readme.py
      - name: Make JSON file
        run: python tools/make_json.py
      - name: Check if there are any changes
        id: verify_diff
        run: |
          git diff --quiet . || echo "changed=true" >> $GITHUB_OUTPUT
      - name: Update README file
        if: steps.verify_diff.outputs.changed == 'true'
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git commit -am "chore: Automatic update of generated files [skip ci]"
          git push
